<html>
    <title>Main page</title>
    <p>Main page</p>
       {% if user.is_authenticated %}
     <p>User: {{ user.get_username }}</p>
     <p><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></p>   
   {% else %}
     <p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>   
   {% endif %} 
    {% if data %}
        {% for name, id in data %}
            <li>
                <a href={% url 'card' id %}>Card name: {{ name }}, id: {{ id }}</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No cards.</p>
    {% endif %}
</html>
